html {
  font-size: 16px;
  line-height: 1.3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  transition: background-color 0.3s;
}

.main.light {
  background-color: #fff;
}

.main.dark {
  background-color: #000;
}

.subtitle {
  margin: 1rem;
  font-size: 2rem;
  font-weight: normal;
  transition: color 0.3s;
}

.title {
  margin: 1rem;
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  transition: color 0.3s;
}

.description {
  margin: 1rem;
  font-size: 2rem;
  font-weight: normal;
  transition: color 0.3s;
}

.subtitle.light,
.title.light,
.description.light {
  color: #000;
}

.subtitle.dark,
.title.dark,
.description.dark {
  color: #fff;
}

/* HEADER */

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.theme-button {
  display: block;
  box-sizing: content-box;
  margin-left: auto;
  width: 40px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.theme-button:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

.theme-button.light {
  border: 1px solid #000;
  background-color: #000;
}

.theme-button.dark {
  border: 1px solid #fff;
  background-color: #fff;
}

.theme-button.light:before {
  background-color: #fff;
}

.theme-button.dark:before {
  background-color: #000;
  transform: translateX(20px);
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.footer__link {
  display: block;
  margin: 0 0.5rem;
  width: 1.75rem;
  height: 1.75rem;
}

.footer__link--youtube {
  width: 2.5rem;
}

.footer__link svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #ffffff;
  transition: fill 0.3s;
}

.footer__link.light svg {
  fill: #000;
}

.footer__link.dark svg {
  fill: #fff;
}

.footer__link.light:hover svg {
  fill: #7d7322;
}

.footer__link.dark:hover svg {
  fill: #fce94f;
}
